
<!DOCTYPE HTML>
<!--[if IE 8 ]><html class="ie ie8" lang="it"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><html lang="it" class="no-js"> <![endif]-->
<html lang="en">
    <head>

        <title>Pramantha - Space Exploration</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  	    <meta name="keywords" content="explore space planets star journey satellites exploration solar system simulation play learning NASA ESA JAXA spacecraft scientific payload bus sensor maps rocket">
	    <meta name="description" content="explore space planets star journey satellites exploration solar system simulation play learning NASA ESA JAXA spacecraft scientific payload bus sensor maps rocket">

        <!-- Favicon -->
        <link rel="shortcut icon" href="static/assets/images/favicon.png">
        <link rel="stylesheet" type="text/css" href="static/assets/stylesheets/reset.css" media="screen">
        <link rel="stylesheet" type="text/css" href="/static/assets/stylesheets/style.css" media="screen">


	    <script src="/static/assets/javascript/libs/jquery-1.11.1.min.js"></script>

    </head>

    <!-- BODY -->
    <body class="home" >
    <!-- FB Script -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/it_IT/all.js#xfbml=1&appId=154575411336636";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

        <div id="container">
            <header class="site--header">
                <div class="site--content">
                    <a href="/"><div class="logo"></div></a>
                </div>
            </header>
            <nav class="site--navigation">
                <ul>
                    <li>Per</li><!--
                 --><li>Data</li><!--
                 --><li>Ad</li>
                    <li>Astra</li>
                </ul>
            </nav>

        <section class="home--introduction">
            <div class="introduction--image"></div>

            <div class="site--content">
                <div class="introduction--content">
                    <h1>Pramantha</h1>
                    <p style="padding-top:2em;">exploration experience</p>
                    <p>based on real space data</p>
                </div>
            </div>
        </section>
        <section class="home--about site--content wysiwyg whatcando">
            <h1>What is Pramantha.</h1>
            <p>Pramantha  is a solution to pave the way towards open and distributed space exploration through data analysis and web applications.<br/>
               Pramantha platform originates from <a target="_blank" href="http://projectchronos.org">Project Chronos</a>,
               the journey beginning here will guide users through a gamified
               experience revolving around space science and exploration.<br/> The first step is going to be <a target="_blank" href="https://www.youtube.com/watch?v=ZMFZv_yYCBI">Xploration</a>,
               an App that lets users build their own nanosatellites using real-world off-the-shelves CubeSat
               instruments. More <span class="highlight">games, data-tools and scientific apps</span> are going to be present in the platform in
               the next months to give users the possibility for a personal look into Space through data-visualization technologies and games.</p>
        </section>
        <section class="home--about site--content wysiwyg whatis">
             {%if message%}
                <p style="color:#6A7E7A;">{{message}}</p>
             {% endif %}
             <h1>What are space data.</h1>
             <p>We are creating an integrated <span class="highlight">datacloud infrastructure</span> that combines data retrieved by NASA, ESA and JAXA’s orbital
                 and non-orbital missions, sensors, relevant scientific knowledge from physics and engineering, unstructured and textual
                 data, such as webpages, articles and scientific publications related to space science and the space economy.</p>
        </section>
        <section class="home--about  site--content wysiwyg whatgoals">
            <h1>What is the future about.</h1>
            <p class="quote">Earth is the cradle of humanity, but one cannot live in a cradle forever. <br/>
               Konstantin E. Tsiolkovsky</p>
            <p>Thousands of rovers and micro-probes will be surfing the System, controlled by many private and public institutions and,
                eventually, by private citizens, with the goal of collecting and sharing data. Space is too vast to have
                restricted access: cheap technologies as <span class="highlight">micro-satellites, citizen science, open research, private launchers</span>, multidisciplinarity,
                and always more specialized knowledge are taking part to the adventure.<br/>
                With the support of users, the team of researchers developers and artists we gathered is willing to shape these energies through Pramantha.</p>
        </section>
        <section class="home--about site--content wysiwyg newsletter">
            <h1>Subscribe to the newsletter.</h1>
            <p>Receive news and stay updated about the project.</p>
            {%if message%}
            <p style="color:#6A7E7A;">{{message}}</p>
            {% else %}
            <form action="/subscribe" method="post" class="subscribe-form">
              {{ form.hidden_tag() }}
              <input type="email" name="email" class="subscribe-input" placeholder="Email address">
              <button type="submit" class="subscribe-submit">Subscribe</button>
            </form>
            {% endif %}
        </section>

        <!-- Social networks buttons -->
        <section class="home--about site--content wysiwyg social--links">
            <p style="text-align:center;">
                <span class='st_facebook' st_message="Pramanta - exploration experience based on real #space-data #openscience #sensor #gaming"></span>
                <span class='st_twitter' st_title=" " st_message="Pramanta - exploration experience based on real #space-data #openscience #sensor #gaming" st_via="XplorationApp"></span>
                <span class='st_googleplus' st_title=" " st_message="Pramanta - exploration experience based on real #space-data #openscience #sensor #gaming"></span>
                <a href="https://twitter.com/XplorationApp" class="twitter-follow-button" data-show-count="true" data-size="medium">@XplorationApp</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                <span class="fb-like" data-href="https://www.facebook.com/pages/Xploration/241831932686033" data-layout="box_count" data-action="like" data-show-faces="true" data-share="true"></span>
            </p>
        </section>
        <!-- -->

        <script type="text/javascript">var switchTo5x=true;</script>
        <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
        <script type="text/javascript">stLight.options({
            publisher: "729c3d19-f531-469b-abdc-c3003eb199f5",
            st_title: " ",
            st_message: "Pramantha - A Learning Platform For Space-related Know-How",
            doNotHash: false,
            doNotCopy: false,
            hashAddressBar: false
        });</script>

         <!-- Custom Block in Template -->
         <!-- CMS Placeholder -->
         <!-- CMS Block Content -->
    <section class="site--content blog">
        <h1>News:</h1>
        <article class="blog--post">
            <header class="post--header">
                <img src="/static/assets/images/space.jpg" alt="">
                <div class="post--header-text">
                    <h1 class="post--title">Workshop Machine Learning Italy</h1>
                </div>
            </header>
            <section class="post--content wysiwyg">
                <p><a href="https://twitter.com/jdurandi" target="_blank">@jdurandi</a> is attending the Machine Learning Italy Workshop about Python <a href="http://scikit-learn.org/stable/" target="_blank">Sci-Kit-Learn</a> tutorial with <a href="https://store.continuum.io/cshop/anaconda/" target="_blank">Anaconda</a>, at Politecnico in Turin, Italy</p>
            </section>
            <footer class="post--meta">
                <span class="post--date">On: 22.1.2015</span>
                <span class="post--author">By: Pramantha</span>
            </footer>
        </article>
        <article class="blog--post">
            <header class="post--header">
                <img src="/static/assets/images/outer-space.jpg" alt="">
                <div class="post--header-text">
                    <h1 class="post--title">Pramantha is Born</h1>
                </div>
            </header>
            <section class="post--content wysiwyg">
                <p>Using Project Chronos' Know-How we start this new venture, with old and new members</p>
            </section>
            <footer class="post--meta">
                <span class="post--date">On: 15.1.2015</span>
                <span class="post--author">By: Pramantha</span>
            </footer>
        </article>
        <article class="blog--post">
            <header class="post--header">
                <img src="/static/assets/images/space.jpg" alt="">
                <div class="post--header-text">
                    <h1 class="post--title">Conference with JPL's OCO-2 Mission Team</h1>
                </div>
            </header>
            <section class="post--content wysiwyg">
                <p><a href="https://twitter.com/lorenzogotuned" target="_blank">@lorenzogotuned</a> had the pleasure to follow the conference-call with Karen Yeun and Flynn Platt from JPL about the first release of OCO-2's Earth data. Thanks to guys at iSeeChange.Org
                </p>
            </section>
            <footer class="post--meta">
                <span class="post--date">On: 17.12.2014</span>
                <span class="post--author">By: Chronos</span>
            </footer>
        </article>
        <article class="blog--post">
            <header class="post--header">
                <img src="/static/assets/images/outer-space.jpg" alt="">
                <div class="post--header-text">
                    <h1 class="post--title">Taxonomy of Sensors</h1>
                </div>
            </header>
            <section class="post--content wysiwyg">
                <p><a href="https://twitter.com/jdurandi" target="_blank">@jdurandi</a> and <a href="http://se.linkedin.com/pub/antonio-gurciullo/92/3a1/6b0/en" target="_blank">Antonio</a> are developing a taxonomy for sensors used in space that will have a big part in our information ordering functions. Great!
                </p>
            </section>
            <footer class="post--meta">
                <span class="post--date">On: 15.11.2014</span>
                <span class="post--author">By: Chronos</span>
            </footer>
        </article>
        <article class="blog--post">
            <header class="post--header">
                <img src="/static/assets/images/shark-space.jpg" alt="">
                <div class="post--header-text">
                    <h1 class="post--title">Philae Landed On A Comet!</h1>
                </div>
            </header>
            <section class="post--content wysiwyg">
                <p>Huge Milestone For All Space Explorers Around. <a href="http://www.esa.int/Our_Activities/Space_Science/Rosetta/Touchdown!_Rosetta_s_Philae_probe_lands_on_comet" target="_blank">Thanks Guys at ESA!</a>
                </p>
            </section>
            <footer class="post--meta">
                <span class="post--date">On: 12.11.2014</span>
                <span class="post--author">By: Chronos</span>
            </footer>
        </article>
        <article class="blog--post">
            <header class="post--header">
                <img src="/static/assets/images/space.jpg" alt="">
                <div class="post--header-text">
                    <h1 class="post--title">With JPL for SPICE Toolkit Training</h1>
                </div>
            </header>
            <section class="post--content wysiwyg">
                <p><a href="https://twitter.com/jdurandi" target="_blank">@jdurandi</a> have had the great opportunity to learn from the best software engineers how to handle data coming from the Navigation and Ancillary Information Facility. Thanks guys!
                </p>
            </section>
            <footer class="post--meta">
                <span class="post--date">On: 23.10.2014</span>
                <span class="post--author">By: Chronos</span>
            </footer>
        </article>
        <article class="blog--post">
            <header class="post--header">
                <img src="/static/assets/images/blog-pics/KB_16_10_VER_0_35.png" alt="">
                <div class="post--header-text">
                    <h1 class="post--title">First sight to the Data</h1>
                </div>
            </header>
            <section class="post--content wysiwyg">
                <p><a href="https://twitter.com/lorenzogotuned" target="_blank">@lorenzogotuned</a> takes this image of the actual linked data in the database
                </p>
            </section>
            <footer class="post--meta">
                <span class="post--date">On: 1.10.2014</span>
                <span class="post--author">By: Chronos</span>
            </footer>
        </article>
        <article class="blog--post">
            <header class="post--header">
                <img src="/static/assets/images/outer-space.jpg" alt="">
                <div class="post--header-text">
                    <h1 class="post--title">Training Creative Attitude</h1>
                </div>
            </header>
            <section class="post--content wysiwyg">
                <p><a href="https://www.facebook.com/giacomo.gatto.10" target="_blank">Giacomo</a> is at IAC2014, getting in touch with aerospace players and designers.
                </p>
            </section>
            <footer class="post--meta">
                <span class="post--date">On: 22.9.2014</span>
                <span class="post--author">By: Chronos</span>
            </footer>
        </article>
        <article class="blog--post">
            <header class="post--header">
                <img src="/static/assets/images/blog-pics/rcaied.png" alt="">
                <div class="post--header-text">
                    <h1 class="post--title">Training Creative Attitude</h1>
                </div>
            </header>
            <section class="post--content wysiwyg">
                <p><a href="https://twitter.com/lorenzogotuned" target="_blank">@lorenzogotuned</a> has spent three days with the design team at Royal College of Art, London. Great lcoation, great people, cool activities. Thanks guys!
                </p>
            </section>
            <footer class="post--meta">
                <span class="post--date">On: 22.9.2014</span>
                <span class="post--author">By: Chronos</span>
            </footer>
        </article>
         <article class="blog--post">
            <header class="post--header">
                <img src="/static/assets/images/outer-space.jpg" alt="">
                <div class="post--header-text">
                    <h1 class="post--title">Chronos was at Synergize2014</h1>
                </div>
            </header>
            <section class="post--content wysiwyg">
                <p>A lot of new contacts we have met in Lancaster, UK </p>
            </section>
            <footer class="post--meta">
                <span class="post--date">On: 24.9.2014</span>
                <span class="post--author">By: Chronos</span>
            </footer>
        </article>
        <article class="blog--post">
            <header class="post--header">
                <img src="/static/assets/images/shark-space.jpg" alt="">
                <div class="post--header-text">
                    <h1 class="post--title">New Website</h1>
                </div>
            </header>
            <section class="post--content wysiwyg">
                <p>Thanks to <a href="http://oliversmith.cc/">Oliver</a> for this great web-design</p>
            </section>
            <footer class="post--meta">
                <span class="post--date">On: 24.8.2014</span>
                <span class="post--author">By: Chronos</span>
            </footer>
        </article>
        <article class="blog--post">
            <header class="post--header">
                <img src="/static/assets/images/blog-pics/xpl-panel.png" alt="">
                <div class="post--header-text">
                    <h1 class="post--title">Chunk of graphic design</h1>
                </div>
            </header>
            <section class="post--content wysiwyg">
                <p>From <a href="http://locho.net/design.html">Locho Soo Kim</a> and <a href="https://twitter.com/ruffnuff">Francesco</a>, the first sights from the simulator's look and feel</p>
            </section>
            <footer class="post--meta">
                <span class="post--date">On: 24.8.2014</span>
                <span class="post--author">By: Chronos</span>
            </footer>
        </article>
        <article class="blog--post">
            <header class="post--header">
                <img src="/static/assets/images/blog-pics/pictograms.jpeg" alt="">
                <div class="post--header-text">
                    <h1 class="post--title">Cool Glyphs</h1>
                </div>
            </header>
            <section class="post--content wysiwyg">
                <p><a href="http://locho.net/design.html">Locho Soo Kim</a> drawings for the simulator</p>
            </section>
            <footer class="post--meta">
                <span class="post--date">On: 24.8.2014</span>
                <span class="post--author">By: Chronos</span>
            </footer>
        </article>
         <article class="blog--post">
            <header class="post--header">
                <img src="/static/assets/images/space.jpg" alt="">
                <div class="post--header-text">
                    <h1 class="post--title">Prototyping? Yes thanks.</h1>
                </div>
            </header>
            <section class="post--content wysiwyg">
                <p>A new piece of design is in town: the textual version of the <a href="http://simulation.spacexplore.it/" target="_blank">simulator</a> is up for a try and some feedback. </p>
            </section>
            <footer class="post--meta">
                <span class="post--date">On: 19.7.2014</span>
                <span class="post--author">By: Chronos</span>
            </footer>
        </article>
        <article class="blog--post">
            <header class="post--header">
                <img src="/static/assets/images/outer-space.jpg" alt="">
                <div class="post--header-text">
                    <h1 class="post--title">OKFest 2014</h1>
                </div>
            </header>
            <section class="post--content wysiwyg">
                <p>Chronos is also in Berlin these days, at <a href="http://2014.okfestival.org/" target="_blank">Open Knowledge Festival</a>:
                look for <a target="_blank" href="https://twitter.com/jdurandi">@jdurandi</a> to have a fantastic business card and some news!</p>
            </section>
            <footer class="post--meta">
                <span class="post--date">On: 16.7.2014</span>
                <span class="post--author">By: Chronos</span>
            </footer>
        </article>
        <article class="blog--post">
            <header class="post--header">
                <img src="/static/assets/images/shark-space.jpg" alt="">
                <div class="post--header-text">
                    <h1 class="post--title">Test Phase: First Step</h1>
                </div>
            </header>
            <section class="post--content wysiwyg">

                <p>Test phase started at math and physics summer campus near Novara(Italy), thanks to <a target="_blank" href="https://www.facebook.com/christopher.paissoni">Christopher</a></p></section>
            <footer class="post--meta">
                <span class="post--date">On: 15.7.2014 </span>
                <span class="post--author">By: Chronos</span>
            </footer>
        </article>
        <article class="blog--post">
            <header class="post--header">
                <img src="/static/assets/images/space.jpg" alt="">
                <div class="post--header-text">
                    <h1 class="post--title">Struggle to Learn</h1>
                </div>
            </header>
            <section class="post--content wysiwyg">

                <p>Coming soon in this section all the updates about how everything is going.</p>
                <p>New creations, new animations, new game design. Live with us the first steps for a world-wide collaborating community.</p>
            </section>
            <footer class="post--meta">
                <span class="post--date">On: 10.7.2014</span>
                <span class="post--author">By: Chronos</span>
            </footer>
        </article>
        <article class="blog--post">
            <header class="post--header">
                <img src="/static/assets/images/blog-pics/BmKCR5ACYAAOnBz.jpg" alt="">
                <div class="post--header-text">
                    <h1 class="post--title">Best Mission Concept Award</h1>
                </div>
            </header>
            <section class="post--content wysiwyg">
                <p>What is going to be in later days the Project Chronos Team is awarded at 2014 SpaceApps Rome
                </p>
            </section>
            <footer class="post--meta">
                <span class="post--date">On: 21.4.2014</span>
                <span class="post--author">By: Chronos</span>
            </footer>
        </article>
    </section>
    <section class="site--content wysiwyg email">
        <h1>Email Us</h1>
        <p><a href="mailto:info@pramantha.net">Introduce yourself and request your copy of business plan</a></p>
        <p><a href="mailto:giacomo@pramantha.net">Contact Giacomo, Chief of Executive</a></p>
        <p><a href="mailto:jacopo@pramantha.net">Contact Jacopo, Chief of Research</a></p>
        <p><a href="mailto:lorenzo@pramantha.net">Contact Lorenzo, Chief of Technology</a></p>
         <p><a href="mailto:stefano@pramantha.net">Contact Stefano, Chief of Business Development</a></p>
    </section>


            <footer class="site--footer">
                <ul class="site--supporters">
                    <li>
                        <a target="_blank" href="https://2014.spaceappschallenge.org/project/chronos/">
                            <img src="/static/assets/images/space-logo.png" alt="" width="109" height="100">
                        </a>
                    </li>
                </ul>
                <div class="site--credits">
                    <span class="small-text">
                        All rights to Pramantha Ltd - <a href="mailto:info@pramantha.net">info@pramantha.net</a>
                    </span>
                </div>
            </footer>
        </div> <!-- CLOSE CONTAINER -->

        <script src="/static/assets/javascript/libs/jquery-scrolltofixed.min.js"></script>
        <script src="/static/assets/javascript/header.js"></script>

    </body> <!-- CLOSE BODY -->
</html>