
<!DOCTYPE HTML>
<!--[if IE 8 ]><html class="ie ie8" lang="it"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><html lang="it" class="no-js"> <![endif]-->
<html lang="en">
    <head>

        <title>Pramantha - Space Exploration</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  	    <meta name="keywords" content="explore space planets star journey satellites exploration solar system simulation play learning NASA ESA JAXA spacecraft scientific payload bus sensor maps rocket">
	    <meta name="description" content="explore space planets star journey satellites exploration solar system simulation play learning NASA ESA JAXA spacecraft scientific payload bus sensor maps rocket">

        <!-- Favicon -->
        <link rel="shortcut icon" href="static/assets/images/favicon.png">
        <link rel="stylesheet" type="text/css" href="static/assets/stylesheets/reset.css" media="screen">
        <link rel="stylesheet" type="text/css" href="/static/assets/stylesheets/style.css" media="screen">


	    <script src="/static/assets/javascript/libs/jquery-1.11.1.min.js"></script>

    </head>

    <!-- BODY -->
    <body class="home" >
    <!-- FB Script -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/it_IT/all.js#xfbml=1&appId=154575411336636";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

        <div id="container">
            <header class="site--header">
                <div class="site--content">
                    <a href="/"><div class="logo"></div></a>
                </div>
            </header>
            <nav class="site--navigation">
                <ul>
                    <li>Per</li><!--
                 --><li>Data</li><!--
                 --><li>Ad</li>
                    <li>Astra</li>
                </ul>
            </nav>

        <section class="home--introduction">
            <div class="introduction--image"></div>

            <div class="site--content">
                <div class="introduction--content">
                    <h1>•Pramantha•</h1>
                    <p style="padding-top:2em;">exploration experience</p>
                    <p>based on real space data</p>
                </div>
            </div>
        </section>
        <section class="home--about site--content wysiwyg whatcando">
            <h1>What is Pramantha.</h1>
            <p>Pramantha  is a solution to pave the way towards open and distributed space exploration through data analysis and web applications.<br/>
               Pramantha platform originates from <a target="_blank" href="http://projectchronos.org">Project Chronos</a>,
               the journey beginning here will guide users through a gamified
               experience revolving around space science and exploration.<br/> The first step is going to be <a target="_blank" href="https://www.youtube.com/watch?v=ZMFZv_yYCBI">Xploration</a>,
               an App that lets users build their own nanosatellites using real-world off-the-shelves CubeSat
               instruments. More games, data-tools and scientific apps are going to be present in the platform in
               the next months to give users the possibility for a personal look into Space through data-visualization technologies.</p>
        </section>
        <section class="home--about site--content wysiwyg whatis">
             {%if message%}
                <p style="color:#6A7E7A;">{{message}}</p>
             {% endif %}
             <h1>What are space data.</h1>
             <p>We are creating an integrated database infrastructure that combines data retrieved by NASA, ESA and JAXA’s orbital
                 and non-orbital missions, sensors, relevant scientific knowledge from physics and engineering, unstructured and textual
                 data, such as webpages, articles and scientific publications related to space science and the space economy.</p>
        </section>
        <section class="home--about  site--content wysiwyg whatgoals">
            <h1>What is the future about.</h1><br/>
            <p class="quote">Earth is the cradle of humanity, but one cannot live in a cradle forever. <br/>
               Konstantin E. Tsiolkovsky</p>
            <p>Thousands of rovers and micro-probes will be surfing the System, controlled by many private and public institutions and,
                eventually, by private citizens, with the goal of collecting and sharing data. Space is too vast to have
                restricted access: cheap technologies (micro-satellites, citizen science, open research, private launchers), multidisciplinarity,
                and always more specialized knowledge are taking part to the adventure.<br/>
                With the support of users, the team of researchers developers and artists we gathered is willing to shape these energies through Pramantha.</p>
        </section>
        <section class="home--about site--content wysiwyg newsletter">
            <h1>Subscribe to the newsletter.</h1>
            <p>Receive news and stay updated about the project.</p>
            {%if message%}
            <p style="color:#6A7E7A;">{{message}}</p>
            {% else %}
            <form action="/subscribe" method="post" class="subscribe-form">
              {{ form.hidden_tag() }}
              <input type="email" name="email" class="subscribe-input" placeholder="Email address">
              <button type="submit" class="subscribe-submit">Subscribe</button>
            </form>
            {% endif %}
        </section>

        <!-- Social networks buttons -->
        <section class="home--about site--content wysiwyg">
            <p style="text-align:center;">
                <span class='st_facebook' st_message="Pramanta - exploration experience based on real #space-data #openscience #sensor #gaming"></span>
                <span class='st_twitter' st_title=" " st_message="Pramanta - exploration experience based on real #space-data #openscience #sensor #gaming" st_via="XplorationApp"></span>
                <span class='st_googleplus' st_title=" " st_message="Pramanta - exploration experience based on real #space-data #openscience #sensor #gaming"></span>
                <a href="https://twitter.com/XplorationApp" class="twitter-follow-button" data-show-count="true" data-size="medium">@XplorationApp</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                <span class="fb-like" data-href="https://www.facebook.com/pages/Xploration/241831932686033" data-layout="box_count" data-action="like" data-show-faces="true" data-share="true"></span>
            </p>
        </section>
        <!-- -->

        <script type="text/javascript">var switchTo5x=true;</script>
        <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
        <script type="text/javascript">stLight.options({
            publisher: "729c3d19-f531-469b-abdc-c3003eb199f5",
            st_title: " ",
            st_message: "Pramantha - A Learning Platform For Space-related Know-How",
            doNotHash: false,
            doNotCopy: false,
            hashAddressBar: false
        });</script>

         <!-- Custom Block in Template -->
         <!-- CMS Placeholder -->
         <!-- CMS Block Content -->

            <footer class="site--footer">
                <ul class="site--supporters">
                    <li>
                        <a target="_blank" href="https://2014.spaceappschallenge.org/project/chronos/">
                            <img src="/static/assets/images/space-logo.png" alt="" width="109" height="100">
                        </a>
                    </li>
                </ul>
                <div class="site--credits">
                    <span class="small-text">
                        All rights to Pramantha Ltd - <a href="mailto:info@projectchronos.org">info@projectchronos.org</a>
                    </span>
                </div>
            </footer>
        </div> <!-- CLOSE CONTAINER -->

        <script src="/static/assets/javascript/libs/jquery-scrolltofixed.min.js"></script>
        <script src="/static/assets/javascript/header.js"></script>

    </body> <!-- CLOSE BODY -->
</html>